[submodule "GBCCore/gambatte-libretro"]
	path = GBCCore/gambatte-libretro
	url = https://github.com/libretro/gambatte-libretro.git
[submodule "LibretroGearboy/Gearboy"]
	path = LibretroGearboy/Gearboy
	url = https://github.com/drhelius/Gearboy
[submodule "LibretroGearboyStatic/Gearboy"]
	path = LibretroGearboyStatic/Gearboy
	url = https://github.com/drhelius/Gearboy.git
[submodule "ArcadiaGBCCore/Gearboy"]
	path = ArcadiaGBCCore/Gearboy
	url = https://github.com/drhelius/Gearboy.git
